{% extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{% if user.is_authenticated %}
<!--Left side of the posts-->
<div class="post">
<div class="container mt-5">
    <div class="row">
        <!-- Padding left -->
        <div class="col-sm-1"></div>
        <!-- End padding -->
        <div class="card-body text-center">
        <div class="col-sm-6">
            <!-- The post itself-->
            
                <!-- Post header-->
                <div class=" row jumbotron">
                    <div class="card">
                        <img src="https://images.pexels.com/photos/922475/pexels-photo-922475.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            class="col-sm-10 rounded-img" alt="pic">
                        
              
                    </div>
                    <div class="card-footer" class="row">
                        <a class="btn " href="{{post.image_comments}}" role="button">
                        <i class="far fa-heart fa-2x"  style="color: red;"></i>
                        </a>
                        <a class="btn " href="{{post.image_comments}}" role="button">
                        <i class="far fa-comment fa-2x" style="color: blue;"></i></a>
                    </div>
                
                
            

                </div>   

    </div>



<div class="card-body text-center">
        <div class="col-sm-6">
            <!-- The post itself-->
            
                <!-- Post header-->
                <div class="posts-header row">
                    <div class="card">
                        <img src="https://images.pexels.com/photos/1010519/pexels-photo-1010519.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            class="col-sm-10 rounded-img" alt="pic">
                            <div class="card-footer">
                                    <a class="btn " href="{{post.image_comments}}" role="button">
                                    <i class="far fa-heart fa-2x"  style="color: red;"></i>
                                  </a>
                                  <a class="btn " href="{{post.image_comments}}" role="button">
                                    <i class="far fa-comment fa-2x" style="color: blue;"></i></a>
                                  </div>
            
                            
                    </div>
                    
                </div>
                
                    </div>

            

                


   


    </div>
</div>
</div>


<!-- Padding right -->
<div class="col-sm-1"></div>
<!-- End padding -->
</div>
</div>
<p><a href="/logout">Logout</a></p>
{% else %}
<p style="margin-top:60px;"><a href="/login">Login</a></p>
<p><a href="/registration">Register</a></p>
{% endif %}
{% endblock %}